*{
    box-sizing: border-box;
}
h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
body{
    background-color: #350909;
    color: bisque;
}
.center{
    text-align: center;
}

.btn{
    margin: 2em 2em;
    background-color: #448223;
    color:white;
    font-family: sans-serif;
    width: 200px;
    padding: .5em;
    height: auto;
    border-radius: 2em;
    border: unset;
    box-shadow: 2px 2px #000;
    cursor:pointer;
}
.btn:hover{
    background-color: hsl(99, 58%, 30%);
}
.btn:active{
    background-color: #350909;
}